html,body {
  margin: 0;
  height: 100%;
}
.carousel {
  position: relative;
  .carousel-item {
    z-index: 50;
    width: 100%;
    position: absolute;
    left: -50%;
    top: 0;
    transition: all 0.5s;
    opacity: 0;
    background: red;
    & img {
      width: 100%;
    }
    &.active {
      z-index: 100;
      left: 0;
      opacity: 1;
    }
  }
  .background-img {
    z-index: 5;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    & img {
      width: 100%;
    }
  }
}